$fontSize: 14px;
$primaryColor: red;
$primaryColorLight: lighten($primaryColor, 20);

.name {
    font-size: $fontSize;
}

.drug {
    color: $primaryColor
}

.staining {
    color: $primaryColorLight
}
